body {
	background-color: rgb(223, 223, 223);
	margin: 0;
}

h3 {
	margin: 2vh;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
}

p {
	margin: 2vh;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
}

.input-container {
	margin: 2vh;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
}

.canvas-container {
	display: flex;
	width: 100vw;
}

#certificate-canvas {
	background-color: rgb(247, 247, 247);
	margin: 3vw;
}

.save-as {
	color: darkblue;
	font-weight: 900;
}

.export-tip {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	transform: rotate(-12deg);
	margin-left: -10vw;
	margin-top: 40vh;
}

.credit {
	position: fixed;
	bottom: 1vh;
}
