body {
	background-color: rgb(223, 223, 223);
	margin: 0;
}

h3 {
	margin: 2vh;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
}

p {
	margin: 2vh;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
}

.input-container {
	display: flex;
	flex-direction: column;
	margin: 2vh;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
}

input {
	margin-bottom: 1rem;
}

.canvas-container {
	display: flex;
}

#certificate-canvas {
	background-color: rgb(247, 247, 247);
}

.save-as {
	color: darkblue;
	font-weight: 900;
}

.export-tip {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	transform: rotate(-12deg);
}

.wrapper {
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
}

@media screen and (max-width: 600px) {
	.export-tip {
		visibility: hidden;
		margin: 0;
		font-size: 0;
	}
}

.credit {
	margin: 0 1rem;
	position: fixed;
	bottom: 1rem;
	font-size: 1rem;
}
